<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28407114?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28407117?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28397692?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28568003?query=java%20Odessa">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 65&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28406228?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28406250?query=java%20Odessa">Senior DevOps / Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28719126?query=java%20Odessa">Senior Java Developer / ElectricAccelerator</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/27403458?query=java%20Odessa">Java-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary">до 35&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28738462?query=java%20Odessa">QA Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Nexteum</td> 
     <td class="salary">1&nbsp;500-2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/27663517?query=java%20Odessa">Linux администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary">до 25&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28372669?query=java%20Odessa">Perl or Groovy Developer / Container Engineer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28202488?query=java%20Odessa">Software Engineer / DevОps</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28498440?query=java%20Odessa">Junior Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Oxiwyle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/28052333?query=java%20Odessa">Container Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://usinsk.hh.ru/vacancy/27899925?query=java%20Odessa">Водитель</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">12&nbsp;000-18&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046956">Java-программист</a></td> 
     <td class="city">Реутов</td> 
     <td class="companyName">ООО "ТимСС"</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046949">Java Script developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ТехноКад</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033853">Программист C++/JNI/Qt</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046411">QT мобильный разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Микро-ИТ</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046927">Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046719">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046757">Ведущий инженер по тестированию</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046755">Back/front-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046754">Java-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046887">Группа разработки единой информационно-технологической платформы</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046884">Группа разработки единой информационно-технологической платформы</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046881">Ведущий специалист по моделированию</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 120 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046880">Ведущий специалист по моделированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 120 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046854">BigData Infrastracture Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046852">BigData Infrastracture Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046850">BI Engineer / BI Architect</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046845">BI Engineer / BI Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046844">BigData Lead Integration Engineer \ BigData Integration Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046842">BigData Lead Integration Engineer \ BigData Integration Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046841">Data Warehouse Engineer \ Data Warehouse Lead Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046840">Data Warehouse Engineer \ Data Warehouse Lead Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046838">Big Data Engineer \ Big Data Lead Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046837">Руководитель группы автоматизированного тестирования / QA Team Leader</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046836">Big Data Engineer \ Big Data Lead Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046956">Java-программист</a></td> 
     <td class="city">Реутов</td> 
     <td class="companyName">ООО "ТимСС"</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046949">Java Script developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ТехноКад</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033853">Программист C++/JNI/Qt</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046411">QT мобильный разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Микро-ИТ</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046927">Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046719">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046757">Ведущий инженер по тестированию</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046755">Back/front-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046754">Java-разработчик</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046887">Группа разработки единой информационно-технологической платформы</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046884">Группа разработки единой информационно-технологической платформы</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 130 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046881">Ведущий специалист по моделированию</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 120 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046880">Ведущий специалист по моделированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 120 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046854">BigData Infrastracture Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046852">BigData Infrastracture Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046850">BI Engineer / BI Architect</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046845">BI Engineer / BI Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046844">BigData Lead Integration Engineer \ BigData Integration Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046842">BigData Lead Integration Engineer \ BigData Integration Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046841">Data Warehouse Engineer \ Data Warehouse Lead Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046840">Data Warehouse Engineer \ Data Warehouse Lead Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046838">Big Data Engineer \ Big Data Lead Engineer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046837">Руководитель группы автоматизированного тестирования / QA Team Leader</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046836">Big Data Engineer \ Big Data Lead Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046835">Руководитель группы автоматизированного тестирования / QA Team Leader</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046834">DevOps / Senior DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046833">DevOps / Senior DevOps</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ВИЗАВИ Консалт</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045868">Data engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046417">Senior DevOps Engineer</a></td> 
     <td class="city">Севастополь</td> 
     <td class="companyName">Hunt4You</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045911">Back-end разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024917">GUI JAVA developer (remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">AGILOFT</td> 
     <td class="salary">От 200 000 до 260 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046777">Java Back-End Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ЗЕНИТ</td> 
     <td class="salary">От 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046782">Инженер DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ЗЕНИТ</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046032">Аналитик проекта по IBM InfoSphere Master Data Management Collaboration Server</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Транснефтьэнерго</td> 
     <td class="salary">До 136 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026146">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary">От 150 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046905">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dornoom LP</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045453">Golang Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OZON.travel</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042463">Backend Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">RetailNext</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045599">Web-разработчик (Full-Stack, Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">A3H</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042618">Разработчик JAVA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046227">Senior Java Developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Битворкс</td> 
     <td class="salary">От 117 000 до 165 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046715">Unicorn NodeJS (NestJS) Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Atlantis United</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046709">Инженер по автоматизации тестирования / QA automation</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">mos.ru</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043016">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032068">QA Automation Engineer (backend, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046874">Фулстек разработчик (JAVA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">3В Сервис</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046679">PHP программист | Back end Dev | Laravel | Yii</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">KubRu</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044416">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SMARTНАРОД</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046830">Android разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Sandbox</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046832">Разработчик внутренних инструментов (Frontend NodeJS)</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Sandbox</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046272">Старший Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dialog</td> 
     <td class="salary">От 160 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046825">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039968">Senior Frontend JavaScript Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046258">Android Developer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046451">ETL-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КОРУС Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045777">Senior/Middle Backend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Trusty.fund</td> 
     <td class="salary">От 120 000 до 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042187">Android developer</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045964">Java Fullstack разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Giant</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046794">Fullstack-разработчик (Python+JavaScript)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Rick.ai</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046774">Разработчик автоматизаций ( Robotics Processing Automation )</a></td> 
     <td class="city">Гданьск</td> 
     <td class="companyName">SRI Infotech Inc.</td> 
     <td class="salary">От 2 700 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045976">Инженер по автоматизации тестирования</a></td> 
     <td class="city"></td> 
     <td class="companyName">Кавычки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045924">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044895">Middle Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Horizon</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046773">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сибур, Проект "Цифровая трасформация"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046772">Разработчик Back-end</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сибур, Проект "Цифровая трасформация"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046771">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сибур, Проект "Цифровая трасформация"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046764">PHP-разработчик в командADFOX</a></td> 
     <td class="city"></td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044126">Разработчик-алгоритмист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045432">Разработчик Hadoop</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046736">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046470">Middle Java Javaee Developer</a></td> 
     <td class="city">Иркутск</td> 
     <td class="companyName">Ньютон Финанс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043019">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046692">DevOps Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tropicent Incorporated</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046636">Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ALLABOUTME SOCIAL MEDIA LIMITED</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036233">Главный тестировщик (автоматизированное тестирование)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046574">Java team lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046577">Java-разработчик (интеграционный слой)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046576">Java разработчик (confluence)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046681">Android разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Цифровые привычки</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045785">Java Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Smart-HR</td> 
     <td class="salary">До 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046615">Lead &amp; Senior FrontEnd Developer (Минск или Пхукет на выбор)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">LetKnow</td> 
     <td class="salary">До 4 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045832">Разработчик на платформе Pega</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046624">Java-разработчик (Junior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Московский Кредитный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046588">Альфакон</a></td> 
     <td class="city">Зеленоград</td> 
     <td class="companyName">Альфакон</td> 
     <td class="salary">От 50 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045752">Архитектор проекта</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Битворкс</td> 
     <td class="salary">От 165 000 до 234 500 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044893">Android application developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">SWTecNN</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046140">Back End Developer (NodeJS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ATSAL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046603">DevOps Engineer</a></td> 
     <td class="city">Ставрополь</td> 
     <td class="companyName">Devhouse</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040025">​Go (Golang) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nesthorn GmbH</td> 
     <td class="salary">От 100 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033618">Руководитель отдела тестирования (QA)</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043268">Инженер DevOps (системный администратор)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041277">Python developer — Cloud Services</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ivideon</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046551">Программист front-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Delta</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046482">JavaScript (UI) Разработчик</a></td> 
     <td class="city">Гданьск</td> 
     <td class="companyName">SRI Infotech Inc.</td> 
     <td class="salary">От 2 500 до 3 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045802">Руководитель разработки Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045794">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042353">PHP Developer</a></td> 
     <td class="city">Тула</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026541">PHP Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046531">IT консультант/ Junior разработчик (Intern)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bellerage</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044572">Инженер по автоматизированному тестированию / QA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Waves Platform</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046522">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">REDMADROBOT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046505">Senior android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Кадровый центр «21 век»</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000042292">Разработчик node.js</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Литиум лаб</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046497">Senior Software Developer (Kotlin/Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GetIT</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046494">Java разработчик в Берлин</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">TTM Talents</td> 
     <td class="salary">От 5 000 до 6 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045598">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Серафим</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037097">Backend - программист (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">101XP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046440">Java Senior Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ньютон Технологии</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046383">Инженер по тестированию / QA</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Первый ОФД</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046469">Архитектор (Big data)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046468">Full stack разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044078">Senior Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plazius</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046444">Тестировщик фронтальных систем</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ITM Холдинг,</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045055">Java/Kotlin разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">УК "Помощь"</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046423">Главный инженер по тестированию Web-приложений</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ПАО Сбербанк России</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046363">Android разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Технология</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046398">Ведущий программист Java EE (удаленно)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">MY HR AGENCY</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044154">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046413">Junior/Middle Android developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Napoleon it</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040517">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Covergame</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046372">Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ATSAL</td> 
     <td class="salary">От 125 000 до 175 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046346">Middle/Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Messapps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046360">Java developer Middle/Senior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Datafolks</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046358">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Frogogo</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044470">Senior SW Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">avalon.tech</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046350">DevOps Specialist (remote work)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Petrosoft LLC</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046336">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Quantum Art</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046347">Java Developer</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043978">Senior QA Engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Acme Crypto Corp</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045299">PHP Developer / PHP разработчик ( middle )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Медицина</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046323">Middle Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046301">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046303">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046297">S/W Development Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mentor Graphics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045438">Embedded Lead / Firmware Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Universa HODL</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046289">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Group</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031028">Software Developer (USA or Europe)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033660">Android разработчик (удалённо)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Unreal Mojo</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046177">Инженер-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">2050.DIGITAL</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028736">С# разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045422">Lead Full stack (Java) developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Decathlon</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000041157">Frontend-разработчик (React) middle</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Eastwind</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046224">iOS Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Цифровых Коммуникаций</td> 
     <td class="salary">От 80 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask (ScanTask)</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035652">QA / Специалист по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046202">Автоматизатор тестирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Diamond Personnel R&amp;C</td> 
     <td class="salary">От 120 000 до 188 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046200">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Азбука Вкуса</td> 
     <td class="salary">От 180 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000046150">Scala-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Метакоммерс</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044556">Тестировщик / QA Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Нордкод</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044555">Математик-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Нордкод</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>